.hero-main{height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-1{
    width: 50%;
    font-size:x-large;
}


img{
    height: 400px;
}

@media only screen and (max-width: 768px) {

    .hero-main{

        flex-direction: column;
    }
    .hero-1{
        width: 80%;
        font-size:large
    }
    img{
        height: 200px;
        /* width: ; */
    }
}